<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>画板</title>
    <script th:src="@{/package/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/package/sketchpad.min.js}"></script>
    <script th:src="@{/res/js/util.js}"></script>

    <script th:inline="javascript">
        //项目路径 例如:localhost:8086/myWeb/
        var websocket = null;
        var basePath = [[${#httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var url_wsSketchpad = '/paint';
        //画板配置
        var sketchpad = null;
        var painterId = uuid();
        var sketchpad_width = 200;
        var sketchpad_height = 150;
        var sketchpad_color = '#000000';
        var sketchpad_size = 1;

        //触屏事件初始化
        window.ontouchend = function() {
            sketchpad_send();
        }
        //关闭窗口，关闭ws
        window.onbeforeunload = function(){
            ws_close();
        }
        //初始化
        $(function () {
            $('#color-picker').val(sketchpad_color);
            $('#size-picker').val(sketchpad_size);
            $('#color-picker').change(sketchpad_setColor);
            $('#size-picker').change(sketchpad_setSize);
            $('#sketchpad').mouseup(function() {
                sketchpad_send();
            });
        })
        //判断当前浏览器是否支持WebSocket
        if('WebSocket' in window){
            websocket = new WebSocket("ws://" + basePath + url_wsSketchpad);
        }else{
            alert('你的浏览器不给力呀 ╮(╯-╰)╭')
        }
        //关闭连接
        function ws_close(){
            websocket.close();
        }
        //连接成功建立的回调方法
        websocket.onopen = function(event){
            console.info('ws link');
        }
        //连接关闭的回调方法
        websocket.onclose = function(){
            console.info('ws close');
        }
        //连接发生错误的回调方法
        websocket.onerror = function(){
            console.info("ws error");
        };
        //接收到消息的回调方法
        websocket.onmessage = function(event){
            var canvasMsg = event.data;
            //画画板
            if(canvasMsg == 'initCanvas'){
                sketchpad_init();
            }else{
                try {
                    var objJson = JSON.parse(canvasMsg);
                    var paintId = objJson.paintId;
                    var sketchpadJson = objJson.sketchpadJson;
                    //不是自己才刷新
                    if(paintId != painterId){
                        var sketchpadObj = JSON.parse(sketchpadJson);
                        sketchpadObj.element = '#sketchpad';
                        sketchpad = new Sketchpad(sketchpadObj);
                    }
                }catch (e) {
                    console.info('sketchpad error')
                }
            }
            //设置颜色粗细为自己的
            $('#color-picker').val(sketchpad_color);
            $('#size-picker').val(sketchpad_size);
            sketchpad.sketchpad_setColor = sketchpad_color;
            sketchpad.penSize = sketchpad_size;
        }
        //发送消息
        function ws_send(message){
            websocket.send(message);
        }

        //////////////////////////////////////画板
        //创建画板
        function sketchpad_init() {
            sketchpad = new Sketchpad({
                element: '#sketchpad',
                width: sketchpad_width,
                height: sketchpad_height
            });
        }
        //撤销
        function sketchpad_undo() {
            sketchpad.undo();
            sketchpad_send();
        }
        //恢复
        function sketchpad_redo() {
            sketchpad.redo();
            sketchpad_send();
        }
        //设置颜色
        function sketchpad_setColor(event) {
            sketchpad_color = $(event.target).val();
            sketchpad.color = sketchpad_color;
        }
        //设置粗细
        function sketchpad_setSize(event) {
            sketchpad_size = $(event.target).val();
            sketchpad.penSize = sketchpad_size;
        }
        //动画效果
        function sketchpad_animate() {
            sketchpad.animate(10);
        }
        //清除
        function sketchpad_clearAll() {
            sketchpad_init();
            sketchpad_send();
        }
        //发送画板数据，加一点延迟
        function sketchpad_send() {
            setTimeout(function () {
                var sketchpadJson = sketchpad.toJSON();  // json 就是 settings 转json 之后的字符串
                var canvasMsgObj = {};
                canvasMsgObj.paintId = painterId;
                canvasMsgObj.sketchpadJson = sketchpadJson;
                var canvasMsg = JSON.stringify(canvasMsgObj);
                ws_send(canvasMsg);
            },200);
        }
    </script>
</head>
<body>
    <div style="text-align: center; border: 1px solid black;width: 200px;margin: 0px auto">
        <canvas class="sketchpad" id="sketchpad" style="border: 1px solid red"></canvas>
    </div>
    <div style="text-align: center; border: 1px solid black;width: 200px;margin: 0px auto">
        <input id="color-picker" type="color">
        <input id="size-picker" type="range" min="1" max="50">
        <br>
        <button onclick="sketchpad_undo()">撤销</button>
        <button onclick="sketchpad_redo()">恢复</button>
        <button onclick="sketchpad_animate()">动画</button>
        <button onclick="sketchpad_clearAll()">换纸</button>
    </div>
</body>
</html>