<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>画板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script th:src="@{/package/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/package/sketchpad.min.js}"></script>

    <script th:inline="javascript">
        //项目路径 例如:localhost:8086/myWeb/
        var basePath = [[${#httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        var url_wsSketchpad = '/wsSketchpad';

        var websocket = null;
        var sketchpad = null;
        var randomUuid = uuid();
        var w = 600;
        var h = 400;
        var color_canvas = '#000000';
        var size_canvas = 1;
        //生成uuid
        function uuid() {
            var s = [];
            var hexDigits = "0123456789abcdef";
            for (var i = 0; i < 36; i++) {
                s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
            }
            s[14] = "4";  // bits 12-15 of the time_hi_and_version field to 0010
            s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);  // bits 6-7 of the clock_seq_hi_and_reserved to 01
            s[8] = s[13] = s[18] = s[23] = "-";

            var uuid = s.join("");
            return uuid;
        }

        //触屏事件初始化
        window.ontouchend = function() {
            canvasSend();
        }
        //初始化
        $(function () {
            $('#color-picker').val(color_canvas);
            $('#size-picker').val(size_canvas);
            $('#color-picker').change(color);
            $('#size-picker').change(size);
            $('#sketchpad').mouseup(function() {
                canvasSend();
            });
        })
        //判断当前浏览器是否支持WebSocket
        if('WebSocket' in window){
            websocket = new WebSocket("ws://" + basePath + url_wsSketchpad);
        }
        else{
            alert('Not support websocket')
        }
        //连接发生错误的回调方法
        websocket.onerror = function(){
            console.info("ws error");
        };
        //连接成功建立的回调方法
        websocket.onopen = function(event){
            console.info('ws link');
        }
        //接收到消息的回调方法
        websocket.onmessage = function(event){
            var msgJson = event.data;
            //画画板
            if(msgJson == 'init'){
                initSketchpad();
            }else{
                var objJson = JSON.parse(msgJson);
                var uuid = objJson.uuid;
                var json = objJson.json;
                //不是自己才刷新
                if(uuid != randomUuid){
                    try {
                        var sketchpadObj = JSON.parse(json);
                        sketchpadObj.element = '#sketchpad';
                        sketchpad = new Sketchpad(sketchpadObj);
                    }catch (e) {
                        console.info('sketchpad error')
                    }
                }
            }
            //设置颜色粗细为自己的
            $('#color-picker').val(color_canvas);
            $('#size-picker').val(size_canvas);
            sketchpad.color = color_canvas;
            sketchpad.penSize = size_canvas;
        }
        //连接关闭的回调方法
        websocket.onclose = function(){
            console.info('ws close');
        }
        //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
        window.onbeforeunload = function(){
            websocket.close();
        }
        //关闭连接
        function closeWebSocket(){
            websocket.close();
        }
        //发送消息
        function wsSend(message){
            websocket.send(message);
        }

        //////////////////////////////////////画板
        //创建画板
        function initSketchpad() {
            sketchpad = new Sketchpad({
                element: '#sketchpad',
                width: w,
                height: h
            });
        }
        //撤销
        function undo() {
            sketchpad.undo();
            canvasSend();
        }
        //恢复
        function redo() {
            sketchpad.redo();
            canvasSend();
        }
        //设置颜色
        function color(event) {
            sketchpad.color = $(event.target).val();
            color_canvas = sketchpad.color;
        }
        //设置粗细
        function size(event) {
            sketchpad.penSize = $(event.target).val();
            size_canvas = sketchpad.penSize;
        }
        //动画效果
        function animateSketchpad() {
            sketchpad.animate(10);
        }
        //清除
        function clearAll() {
            initSketchpad();
            canvasSend();
        }
        //发送画板数据
        function canvasSend() {
            setTimeout(function () {
                var json = sketchpad.toJSON();  // json 就是 settings 转json 之后的字符串
                var obj = {};
                obj.uuid = randomUuid;
                obj.json = json;
                var str = JSON.stringify(obj);
                wsSend(str);
            });
        }
    </script>
</head>
<body>
    <div style="text-align: center">
        <canvas class="sketchpad" id="sketchpad"></canvas>
    </div>
    <div style="text-align: center">
        <button onclick="undo()">undo</button>
        <button onclick="redo()">redo</button>
        <input id="color-picker" type="color">
        <input id="size-picker" type="range" min="1" max="50">
        <button onclick="animateSketchpad()">animate</button>
        <button onclick="clearAll()">clearAll</button>
    </div>
</body>
</html>